<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="consoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>

        <RollingFile name="fileLogger" fileName="logs/latest.log"
                     filePattern="./logs/${date:yyyy-MM}/logs-%d{yyyy-MM-dd HH.mm}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 KB"/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="consoleLogger"/>
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>